main {
    padding: 1rem;
    text-align: center;
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* Style form inputs */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: rgb(76, 0, 252);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Style the submit button on hover */
button[type="submit"]:hover {
    background-color: rgb(10, 169, 231);
}